@import 'variables';

.annotation-container {
    padding-bottom: 90vh;
}

.annotation-container:first-of-type {
    padding-top: 20vh;
}

.annotation-card {
    border-radius: 10px;
    background-color: rgb(228, 228, 228);
    padding: 10px;
    width: 33%;
    box-sizing: border-box;
    padding-left: 20px;
}


.dark .annotation-card {
    background-color: #212529;
}

.canvas {
    padding-left: $padding-left-right;
    padding-right: $padding-left-right;
}

.intro-algorithm { 
    padding-top: 20vh;
}

.centered-container {
    display: flex;        
    justify-content: center;    
    text-align: center;  
}